{% extends "base.html" %}
{% block content %}
<style>
.parent
{

}
.child
{
	display: inline-block;
}
</style>

<div class="parent">
	<div class="child">
	    <h2>Таблица всех геоточек</h2>
	</div>
	<div style="width: 770px;" class="child">
	    <a style="margin-left: 400px;" href="glob_graphic"><button style = 'width:350px;' class="btn btn-dark">График</button></a>
	</div>
</div>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th>№ Геоточки</th>
        <th>широта</th>
        <th>долгота</th>
    </tr>
    </thead>
    <tbody>
        {% for i in range(listPoints[1]) %}
        <tr>
            <td><a href="specVal?ID={{  listPoints[0][i][0]  }}" style="text-decoration: none; color: black;">{{ listPoints[0][i][0]  }}</a></td>
            <td>{{ listPoints[0][i][1][0] }}</td>
            <td>{{ listPoints[0][i][1][1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}