{% extends "base.html" %}
{% block content %}

<h2>Таблица всех геоточек</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>№ Геоточки</th>
        <th>широта</th>
        <th>долгота</th>
    </tr>
    </thead>
    <tbody>
        {% for i in range(listPoints[1]) %}
        <tr>
            <td><a href="specVal?ID={{  listPoints[0][i][0]  }}" style="text-decoration: none; color: black;">{{ listPoints[0][i][0]  }}</a></td>
            <td>{{ listPoints[0][i][1][0] }}</td>
            <td>{{ listPoints[0][i][1][1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}