{% extends "base.html" %}
{% block content %}

<h1>Таблица всех геоточек</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>№ Геоточки</th>
        <th>широта</th>
        <th>долгота</th>
    </tr>
    </thead>
    <tbody>
        {% for point in listPoints %}
        <tr>
            <td><a href="specVal?ID={{ point.id }}" style="text-decoration: none; color: black;">{{ point.id }}</a></td>
            <td>{{ point.latitude }}</td>
            <td>{{ point.latitude }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}