<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>FAS</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">FAS</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item {{ is_active('Главная', nav_item)}}">
      <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
    </li>
    <li class="nav-item {{ is_active('Карта', nav_item)}}">
      <a class="nav-link" href="map">Карта</a>
    </li>
    <li class="nav-item {{ is_active('Аналитика', nav_item)}}">
      <a class="nav-link" href="analytics">Аналитика</a>
    </li>
  </ul>
</nav>
{% block content %}{% endblock %}
</div>

</body>
</html>