{% extends "base.html" %}
{% block content %}
    <style>
        ul.hr {
        margin: 0;
        padding: 4px;
        width: 1190px;
       }
       ul.hr li {
        display: inline;
    </style>
    <ul class="hr">
        <li><a href="specVal?ID={{ ID }}"><button style = 'width:550px;' class="btn btn-dark">Список</button></a></li>
        <li><a href="graphics?ID={{ ID }}"><button style = 'width:550px;' class="btn btn-dark">Графики</button></a></li>
    </ul>
    <br>
    <h2>Графики для геоточки {{ ID }}</h2>
    <hr>
    <img src="/plot.png?ID={{ ID }}" alt="my plot">
{% endblock %}