{% extends "base.html" %}
{% block content %}
<style>
    ul.hr {
    margin: 0;
    padding: 4px;
    width: 4000px;
   }
   ul.hr li {
    display: inline;
</style>
<ul class="hr">
    <li><a href="specVal?ID={{ listPointsValue[1] }}"><button style = 'width:550px;' class="btn btn-dark">Список</button></a></li>
    <li><a href="graphics?ID={{ listPointsValue[1] }}"><button style = 'width:550px;' class="btn btn-dark">Графики</button></a></li>
</ul>
<br>
<h2>Таблица измерениний геоточки {{ listPointsValue[1] }}</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>№ Измерения</th>
        <th>влажность</th>
        <th>температура</th>
        <th>кислотность</th>
    </tr>
    </thead>
    <tbody>
    {% for j in range(24) %}
    <tr>
        <td>{{ listPointsValue[0][j][0] }}</td>
        <td>{{ listPointsValue[0][j][1][0] }}</td>
        <td>{{ listPointsValue[0][j][1][1] }}</td>
        <td>{{ listPointsValue[0][j][1][2] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}