{% extends "base.html" %}
{% block content %}

<h1>Таблица измеренинй геоточки {{ point_id }}</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Дата Измерения</th>
        <th>влажность</th>
        <th>температура</th>
        <th>кислотность</th>
    </tr>
    </thead>
    <tbody>
    {% for measurement in listMeasurements %}
    <tr>
        <td>{{ measurement.timestamp }}</td>
        <td>{{ measurement.temperature }}</td>
        <td>{{ measurement.humidity }}</td>
        <td>{{ measurement.acidity }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}